body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #424242;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.board {
  background-color: #383838;
  border: 3px solid #2d2e2e;
  border-radius: 5px;
  width: 1000px;
  height: 600px;
}
