body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #424242;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.board {
  background-color: #383838;
  border: 3px solid #2d2e2e;
  border-radius: 5px;
  width: 1000px;
  height: 600px;
}

.chips-wrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  width: 985px;
  height: 40px;
  padding: 10px;
  background-color: #383838;
  border: 3px solid #2d2e2e;
  border-radius: 3px;
}

.chip-create {
  background-color: #4a4a4a;
}

.chips-item {
  margin-right: 10px;
  flex: 0 0 auto;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  cursor: pointer;
}

.board-input {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #000;
  border-radius: 50%;
  z-index: 100;
}